*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.main{
    height: 70vh;
    width: 50vw;
    background-color: #fff;
    margin-left: 400px;
    margin-top: 150px;
}

h1{
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#count{
    margin-left: 43%;
    font-size: 25vmin;
}

.first-btn{
    margin-left: 33%;
    border-radius: 5px;
}
.sec-btn{
    border-radius: 5px;
}
.third-btn{
   border-radius: 5px;
   width: 60px;
}

button{
    margin-top: 20px;
    height: 5vh;
    width: 7vw;
    font-size: 20px;
}

